<!-- Agrega esto en el <head> de tu index.html -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="container mt-5">
  <h3 class="text-center mb-3">Alumnos Inscritos</h3>
  <div class="search-bar mb-3">
    <input type="text" class="form-control" placeholder="Buscar por nombre del estudiante" (input)="onSearchInput($event)" />
  </div>

  <div class="table-responsive">
    <table class="table table-bordered text-center" *ngIf="filteredStudents.length > 0; else noStudents">
      <thead class="table-header">
        <tr>
          <th>Nombre Completo:</th>
          <th>Correo Electrónico:</th>
          <th>Curp:</th>
          <th>Estado:</th>
          <th>Documentos:</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of filteredStudents">
          <td>{{ student.name }} {{ student.lastName1 }} {{ student.lastName2 }}</td>
          <td>{{ student.email }}</td>
          <td>{{ student.curp }}</td>
          <td>
            <span class="badge" [ngClass]="{'bg-success': student.enrollmentStatus, 'bg-warning': !student.enrollmentStatus}">
              {{ student.enrollmentStatus ? 'Inscrito' : 'Pendiente' }}
            </span>
          </td>
          <td>
            <app-btn-ver-documentos-adm [aspiranteId]="student.aspiranteId" (click)="viewDocuments(student.id!)" 
            (openModalEvent)="openModal()"
            (aspiranteIdEvent)="onAspiranteIdReceived($event)"
            
            >
            </app-btn-ver-documentos-adm>
        
          </td>

<app-gest-doc-students>

  
  

 <!--
  [aspiranteId]="student.id!" (click)="viewDocuments(student.id!)
  --> 

</app-gest-doc-students>

        </tr>
      </tbody>
    </table>
    <ng-template #noStudents>
      <div class="alert alert-info text-center">
        <i class="fas fa-spinner fa-spin"></i> Cargando datos de los estudiantes inscritos...
      </div>
      
    </ng-template>
  </div>

  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      <li class="page-item" (click)="changePage(currentPage - 1)" [class.disabled]="currentPage === 1">
        <span class="page-link"> &lt;&lt; </span>
      </li>
      <li class="page-item" *ngFor="let page of getPagesArray()" [class.active]="page === currentPage" (click)="changePage(page)">
        <span class="page-link">{{ page }}</span>
      </li>
      <li class="page-item" (click)="changePage(currentPage + 1)" [class.disabled]="currentPage === totalPages || totalPages === 0">
        <span class="page-link"> &gt;&gt; </span>
      </li>
    </ul>
  </nav>
  

  <div *ngIf="noMoreStudents" class="alert alert-info text-center">
    No hay más estudiantes disponibles.
  </div>
</div>