# See http://help.github.com/ignore-files/ for more about ignoring files.

# Frontend

# Compiled output
/frontend/dist
/frontend/tmp
/frontend/out-tsc
/frontend/bazel-out

# Node
/frontend/node_modules
/frontend/npm-debug.log
/frontend/yarn-error.log

# IDEs and editors
/frontend/.idea/
/frontend/.project
/frontend/.classpath
/frontend/.c9/
/frontend/*.launch
/frontend/.settings/
/frontend/*.sublime-workspace

# Visual Studio Code
/frontend/.vscode/*
/frontend/!.vscode/settings.json
/frontend/!.vscode/tasks.json
/frontend/!.vscode/launch.json
/frontend/!.vscode/extensions.json
/frontend/.history/*

# Miscellaneous
/frontend/.angular/cache
/frontend/.sass-cache/
/frontend/connect.lock
/frontend/coverage
/frontend/libpeerconnection.log
/frontend/testem.log
/frontend/typings

# System files
/frontend/.DS_Store
/frontend/Thumbs.db

# Backend

# compiled output
/backend/dist
/backend/node_modules

# Logs
/backend/logs
/backend/*.log
/backend/npm-debug.log*
/backend/pnpm-debug.log*
/backend/yarn-debug.log*
/backend/yarn-error.log*
/backend/lerna-debug.log*

# OS
/backend/.DS_Store

# Tests
/backend/coverage
/backend/.nyc_output

# IDEs and editors
/backend/.idea
/backend/.project
/backend/.classpath
/backend/.c9/
/backend/*.launch
/backend/.settings/
/backend/*.sublime-workspace

# IDE - VSCode
/backend/.vscode/*
/backend/!.vscode/settings.json
/backend/!.vscode/tasks.json
/backend/!.vscode/launch.json
/backend/!.vscode/extensions.json


## Practicas
/practicas/Roberto-Carlos-May-Vergara/7630-ejercicios/dist
/practicas/Roberto-Carlos-May-Vergara/7630-ejercicios/node_modules
/practicas/Roberto-Carlos-May-Vergara/7630-ejercicios/.vscode/*
practicas/Roberto-Carlos-May-Vergara/7630-ejercicios/.angular/cache/
