
<nav class="navbar">
  <div class="navbar-logo">
    <a href="/frontend/src/index.html">
      <img src="assets/images/logoinpi.png" alt="Logo INPI">
    </a>
  </div>
  <ul class="navbar-menu">
    <li><a href="/">Inicio</a></li>
    <li><a href="/nosotros">Nosotros</a></li>
    <li><a href="/actividades">Actividades</a></li>
    <li><a href="/inscripcion">Inscripción</a></li>
    <li><a href="/inscripcion">Login</a></li>
  </ul>
</nav>




<!--

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/logo-inpi.png" alt="Logo INPI" height="40">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/nosotros">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/actividades">Actividades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/inscripcion">Inscripción</a>
        </li>
      </ul>
    </div>
  </nav>
  

-->
