<nav class="navbar">
  <div class="navbar-logo">
    <a routerLink="/">
      <img src="assets/images/logoinpi.png" alt="Logo INPI">
    </a>
  </div>

  <!-- Ícono de menú que se muestra en móviles -->
  <button class="navbar-toggler" (click)="toggleMenu()">
    &#9776; <!-- Símbolo de "hamburger menu" -->
  </button>


  <ul class="navbar-menu" [ngClass]="{'active': isMenuOpen}">
    <li><a routerLink="/">Inicio</a></li>
    <li><a routerLink="/about-us">Nosotros</a></li>
    <li><a routerLink="/#">Actividades</a></li>
    <li><a routerLink="/registration">Inscripción</a></li>
    <li><a routerLink="/#">Login</a></li>
  </ul>
</nav>