/* Estilos del navbar */
.navbar {
  display: flex;
  
  justify-content: space-between;
  align-items: center;
  background-color: #b41e46; /* Color de fondo */
  padding: 15px 20px;
 
  
  width: 100%;
 
  position: relative;
  
}
/*
/* Logo del navbar */
.navbar-logo img {
  height: 70px; /* Altura del logo */
 padding-top: 5px;
 padding-bottom: 5px;
  
}

.navbar-logo {
  flex-shrink: 0; /* Asegura que el logo no se reduzca cuando el espacio es limitado */
}

/* Menú de navegación para desktop*/
.navbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0 ;
  display: flex;
  gap: 15px; /* Espacio entre elementos */
}

/* Estilos para los enlaces del menú */
.navbar-menu li a {
  color: white; /* Color del texto */
  text-decoration: none; 
  font-size: 19px; 
  font-weight: bold;
  padding: 15px 15px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  
}

/* Efecto hover en los enlaces */
.navbar-menu li a:hover {
  background-color: #ec4967; /* Fondo al pasar el cursor */

}


/* Estilos para pantallas grandes (desktop) */
.navbar-toggler {
  display: none; /* Ocultar el botón de menú en pantallas grandes */
}



/* Estilos responsive: para pantallas pequeñas (móviles) */

@media (max-width: 768px) {

  .navbar {
    justify-content: space-between;
  }
  
  .navbar-menu {
    display: none; /* Ocultar el menú por defecto en móviles */
    flex-direction: column; /* Menú vertical */
    position: absolute;
    top: 100px;
  
    right: 0;
    background-color: #b41e46; /* Color de fondo */
    width: 100%;
    height: auto;
    max-height: 0; /* Altura inicial de 0 para la animación */
    overflow: hidden; /* Ocultar el contenido cuando el menú está cerrado */
    transition: max-height 0.5s ease-in-out; /* Animación suave */
    justify-content: center;
    align-items: center;
    z-index: 5; /* Asegurar que el menú esté encima de otros elementos */
    padding-top: 2px;
    padding-bottom: 20px;
  }

  
 /* Estilos del ícono de menú (hamburguesa) */
 .navbar-toggler {
  display: block; /* Mostrar el botón del menú en móviles */
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: white;
}

 /* Mostrar el menú cuando esté activo */
 .navbar-menu.active {
  display: flex; /* Mostrar el menú cuando el botón sea presionado */
  max-height: 300px; /* Altura máxima para el menú desplegable */
}

.navbar-menu li{
  width: 100%; 
  border-bottom: 1px solid rgb(153, 144, 144); /* Línea de separación */
  padding: 2px;
}


.navbar-menu li a {
 
  display: block; /* El enlace se comporta como un bloque, ocupando todo el ancho */
  text-align: center; /* Alinacion  del texto al centro */
  padding-top: 3px;
  padding-bottom: 3px;
  
}



/* Menú dropdown en móvil */
.dropdown-menu {
  position: relative; /* Permitir que se alinee al padre */
  top: 18px;
  left: 0;
  width: 90%;
  opacity: 1;
  transform: none;
  box-shadow: #ec4967;
  
}

/* Mostrar/ocultar submenús en móvil como acordeón */
.dropdown-menu.show {
  display: block;
  max-height: 250px;
  transition: max-height 0.3s ease-in-out;
}

.dropdown-menu {
  max-height: 0;
  overflow: hidden;
}

}

/* Estilos para el dropdown */
.dropdown {
  position: relative;
  display: inline-block; /* Asegura que el dropdown ocupe el espacio del botón */
}

.dropdown-toggle {
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #b41e46;
  border-radius: 6px;
  padding: 4px 15;
  margin-top: 8px;
  list-style: none;
  z-index: 11;
  opacity: 0;
  min-width: 100%; /* Establece el ancho mínimo igual al botón */
  transition: opacity 0.3s ease , transform 0.3s ease;
  left: 0; /* Alinea el menú con el borde izquierdo del botón */

  transform: translateY(10px); /* Inicia unos px más arriba */
  box-shadow: 0 4px 8px rgba(20, 20, 20, 0.15); /* Sombra suave */
}

.dropdown-menu li {
  padding: 10px;
  text-align: center;
  width: 100%; /* Asegura que los elementos internos ocupen todo el ancho */
  padding: 4px 15px; /* Reduce padding vertical en el menú desplegable */
  margin: 0;
}

.dropdown-menu li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  display: block; /* Hace que el enlace ocupe todo el ancho del menú */

}

.dropdown-menu li a:hover {
  background-color: #ec4967;
  
}

.dropdown-menu.show {
  display: block;
  opacity: 1;
  transform: translateY(0); /* Transición hacia su posición */
}



