
.btn-custom {
    background-color: #b41e46; /* Usando el color del navbar */
    color: white;
    border: none;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-custom:hover {
    background-color: #a0183e; /* Un color más oscuro para el efecto hover */
    transform: scale(1.05); /* Efecto de agrandamiento suave */
}

.btn-custom:active {
    transform: scale(0.95); /* Efecto de click */
}