<!-- <div class="global-container">
  <div class="container">
    <h1>Hello World!</h1>
    <p>Lorem ipsum dolorf sit amet consectetur, adipisicing elit. Id quia quas quis nostrum molestias praesentium
      reiciendis asperiores vitaedd. Voluptate provident non dolorem dolore dignissimos soluta obcaecati suscipit quo et
      officiis!</p>
  </div>
  <div class="container">
    <h2>Uno titulo chico</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id quia quas quis nostrum molestias praesentium
      reiciendis asperiores vitae. Voluptate provident non dolorem dolore dignissimos soluta obcaecati suscipit quo et
      officiis!</p>
  </div>
  <div class="container">
    <h3>Uno titulo más chico</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id quia quas quis nostrum molestias praesentium
      reiciendis asperiores vitae. Voluptate provident non dolorem dolore dignissimos soluta obcaecati suscipit quo et
      officiis!</p>
  </div>

  <div class="grid-container">
    <div class="grid-item">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem earum nostrum voluptas! Hic veritatis alias
        sunt neque iusto dignissimos voluptatum veniam, a delectus reprehenderit, earum molestiae quidem magni ullam
        quisquam!</p>
    </div>
    <div class="grid-item">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem earum nostrum voluptas! Hic veritatis alias
        sunt neque iusto dignissimos voluptatum veniam, a delectus reprehenderit, earum molestiae quidem magni ullam
        quisquam!</p>
    </div>
    <div class="grid-item">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem earum nostrum voluptas! Hic veritatis alias
        sunt neque iusto dignissimos voluptatum veniam, a delectus reprehenderit, earum molestiae quidem magni ullam
        quisquam!</p>
    </div>

  </div>

</div> -->
<router-outlet></router-outlet>