<header class="banner fade-in">
  <h1>
    Actividades que se realizan <br>  en nuestra casa comunitaria
  </h1>
</header>
 
<div class="container">
  <!-- Clases de Maya -->
  <div class="card-1" style="width: 18rem;">
    <img class="card-img-top" src="assets/images/clases.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Clases de Maya</h5>
      <p class="card-text">Sumérgete en el conocimiento ancestral con nuestras clases de lengua maya, donde aprenderás a comunicarte en este idioma milenario y descubrirás su importancia cultural. Las clases están diseñadas para todos los niveles, desde principiantes hasta aquellos que desean perfeccionar sus habilidades.</p>
    </div>
</div>
<!-- Conferencias -->
<div class="card-2" style="width: 18rem;">
    <img class="card-img-top" src="assets/images/Conferencias.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Conferencias</h5>
      <p class="card-text">Participa en nuestras conferencias con expertos en diversas áreas que comparten su conocimiento sobre temas actuales y relevantes. Desde tecnología hasta desarrollo personal, nuestras conferencias ofrecen un espacio de aprendizaje e inspiración para todos los asistentes.</p>
    </div>
</div>

<!-- Actividades al aire Libre -->
<div class="card-2" style="width: 18rem;">
  <img class="card-img-top" src="assets/images/Limpieza.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Actividades al aire Libre</h5>
    <p class="card-text">Disfruta de la naturaleza con nuestras actividades al aire libre. Ofrecemos desde caminatas guiadas hasta actividades recreativas que te permitirán conectarte con el entorno, mejorar tu bienestar y disfrutar de momentos de relajación en compañía de otros.</p>
  </div>
</div>
  </div>

      
      
  
  
    
  
    
  
        
        
    