<div class="container">
  <!-- Divs existentes -->
  <div class="margined-div">
    <h1>Hello world!!!</h1>
    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
       sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
       Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex 
       ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
       eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
       mollit anim id est laborum."</p>
  </div>

  <div class="margined-div">
    <h2>Hello world2!!!</h2>
    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex 
      ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
      eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
      mollit anim id est laborum."</p>
  </div>

  <div class="margined-div">
    <h3>Hello world3!!!</h3>
    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex 
      ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
      eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
      mollit anim id est laborum."</p>
  </div>

  <!-- Nuevo contenedor para los 3 divs adicionales -->
  <div class="additional-container">
    <div class="additional-div left">
      <p>Div a la izquierda</p>
    </div>

    <div class="additional-div center">
      <p>Div en el centro</p>
    </div>

    <div class="additional-div right">
      <p>Div a la derecha</p>
    </div>
  </div>
</div>
