<div class="dsc-carousel" [ngStyle]="{'min-height': finalHeihgt}">
    <div class="dsc-carousel_btns">
        <i class="bi bi-arrow-left-circle-fill" (click)="setBack()"></i>
        <i class="bi bi-arrow-right-circle-fill" (click)="setNext()"></i>
    </div>
    <div class="dsc-carousel_content">
        <ng-container *ngFor="let section of items;">
            <div class="dsc-carousel_content-item"
                [ngStyle]="{'background-image': 'url(' + section.image + ')', 'margin-left': section.marginLeft + '%'}">
                <h1> {{section.title?.first}} <span>{{ section.title?.second }}</span></h1>
                <p>{{ section.subtile }}</p>
            </div>
        </ng-container>
    </div>
    <div class="dsc-carousel_steps">
        <div class="dsc-carousel_steps-step  dsc-carousel_steps-step-{{currentPosition === item.id ? 'active': ''}}"
            *ngFor="let item of items" (click)="setCurrentPosition(item.id)"></div>
    </div>
</div>