
<!-- <div style="text-align:center">
    <apx-chart [series]="chartOptions.series!" [chart]="chartOptions.chart!" [xaxis]="chartOptions.xaxis!"
        [title]="chartOptions.title!"></apx-chart>
</div> -->
<div class="welcome-container">
<h4 *ngIf="dataLoaded" [ngClass]="{'fade-in': dataLoaded}">
  Bienvenido, {{ promotorName }}
</h4>
</div>


<div class="charts-container">
  <div *ngIf="inscritosOptions" class="chart-card">
    <div class="chart-header">
       <h5>Alumnos inscritos y por inscribirse</h5>
    <p>(Total de alumnos: {{ inscritosOptions.total }})</p>   
    </div>

    <apx-chart
    div 
      [series]="inscritosOptions.series"
      [chart]="inscritosOptions.chart"
      [labels]="inscritosOptions.labels"
      [legend]="inscritosOptions.legend"
    >
  </apx-chart>
  </div>

  <div *ngIf="documentosOptions" class="chart-card">
    <div class="chart-header">

          <h5>Documentación de alumnos por inscribirse</h5>
    <p>(Total de alumnos por inscribirse: {{ documentosOptions.total }})</p>
    </div>

    <apx-chart
      [series]="documentosOptions.series"
      [chart]="documentosOptions.chart"
      [labels]="documentosOptions.labels"
      [legend]="documentosOptions.legend"
    ></apx-chart>
  </div>

  <div *ngIf="albergueOptions" class="chart-card">
    <div class="chart-header">
          <h5>Ocupación del albergue</h5>
    <p>(Plazas totales: {{ albergueOptions.total }})</p>
    </div>

    <apx-chart
      [series]="albergueOptions.series"
      [chart]="albergueOptions.chart"
      [labels]="albergueOptions.labels"
      [legend]="albergueOptions.legend"
    ></apx-chart>
  </div>
</div>
