<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<!-- Sección del Header -->
<header class="banner fade-in">
  <h1>
    <i class="bi bi-person-plus"></i>
    Únete a nosotros y sé parte <br> de nuestra casa comunitaria
  </h1>
</header>

<!-- Sobre el Proceso de Inscripción -->
<section class="container section-inscripcion fade-in">
  <div class="section-content d-flex flex-column flex-md-row align-items-center">
    <div class="text-content me-md-4 mb-4 mb-md-0">
      <h2 class="mb-4">Sobre el Proceso de Inscripción</h2>
      <p class="lead mb-4">
        La Casa Comunitaria del Estudiante Indígena Felipe Carrillo Puerto abre sus puertas anualmente para nuevas
        inscripciones. Nuestro proceso de inscripción está cuidadosamente diseñado para identificar a los candidatos que
        se beneficiarán al máximo de las oportunidades y recursos que ofrecemos.
        Cada año, buscamos estudiantes que compartan nuestro compromiso con la educación y el crecimiento personal, y
        que se adapten bien a nuestro entorno comunitario.
      </p>
    </div>
    <img src="assets/images/inscripcion.jpg" class="img-fluid rounded shadow" alt="Inscripción"
      style="max-width: 300px; height: auto;">
  </div>
</section>

<!-- Requisitos para Aspirantes -->
<section class="container section-inscripcion fade-in">
  <div class="section-content">
    <h2><i class="fas fa-file-alt"></i> ¿Qué Necesito para Inscribirme?</h2>
    <h3 class="underline">Requisitos para Nuevo Ingreso</h3>
    <p class="mb-4">Por favor, asegúrate de que todos los documentos estén bien escaneados y sean legibles, de lo
      contrario serán rechazados. A continuación, se detallan los documentos necesarios:</p>
    <ul class="list-unstyled">
      <li class="mb-3"><i class="fas fa-check-circle me-2"></i><span class="ms-3">Acta de nacimiento actualizada <a
            href="https://www.gob.mx/ActaNacimiento/" target="_blank">(Descárgalo aquí).</a></span></li>
      <li class="mb-3"><i class="fas fa-check-circle me-2"></i><span class="ms-3">CURP actualizada <a
            href="https://www.gob.mx/curp/" target="_blank">(Descárgalo aquí).</a></span></li>
      <li class="mb-3"><i class="fas fa-check-circle me-2"></i><span class="ms-3">Certificado médico reciente.</span>
      </li>
      <li class="mb-3"><i class="fas fa-check-circle me-2"></i><span class="ms-3">Última boleta de
          calificaciones.</span></li>
      <li class="mb-3"><i class="fas fa-check-circle me-2"></i><span class="ms-3">Cartilla de vacunación.</span></li>
      <li class="mb-3"><i class="fas fa-check-circle me-2"></i><span class="ms-3">Comprobante de inscripción.</span>
      </li>
      <li class="mb-3"><i class="fas fa-check-circle me-2"></i><span class="ms-3">Constancia de identidad o escrito
          libre emitido por la autoridad.</span></li>
      <li class="mb-3"><i class="fas fa-check-circle me-2"></i><span class="ms-3">Documento de Inscripción</span></li>
    </ul>

    <h3 class="underline">Documentos de los Padres</h3>
    <ul class="list-unstyled">
      <li class="mb-3"><i class="fas fa-check-circle me-2"></i><span class="ms-3">CURP actualizada de los padres <a
            href="https://www.gob.mx/curp/" target="_blank">(Descárgalo aquí).</a></span></li>
      <li class="mb-3"><i class="fas fa-check-circle me-2"></i><span class="ms-3">Comprobante de domicilio <a
            href="https://app.cfe.mx/Aplicaciones/CCFE/SolicitudesCFE/Solicitudes/ConsultaTuReciboLuzGmx"
            target="_blank">(Descargar recibo de luz).</a></span></li>
      <li class="mb-3"><i class="fas fa-check-circle me-2"></i><span class="ms-3">Copia de la credencial de
          elector.</span></li>
      <li class="mb-3"><i class="fas fa-check-circle me-2"></i><span class="ms-3">Constancia del último grado de estudio
          del tutor.</span></li>
      <li class="mb-3"><i class="fas fa-check-circle me-2"></i><span class="ms-3">Anotar la cantidad de integrantes de
          la familia en una hoja o documento.</span></li>
    </ul>
  </div>
</section>

<!-- Sección de Convocatorias -->
<section class="container section-inscripcion fade-in">
  <div class="section-content">
    <h2><i class="fas fa-bullhorn"></i> Convocatorias</h2>
    <app-calls></app-calls> <!-- Componente para mostrar convocatorias -->
  </div>
</section>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>