<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Header Section -->
<header class="banner fade-in">
  <h1>Únete a nosotros y sé parte <br> de nuestra casa comunitaria</h1>
</header>

<!-- Sobre el Proceso de Inscripción -->
<section class="container section-inscripcion fade-in">
  <div class="section-content">
    <h2>Sobre el Proceso de Inscripción</h2>
    <p>La Casa Comunitaria del Estudiante Indígena Felipe Carrillo Puerto abre sus puertas anualmente para nuevas
      inscripciones. Nuestro proceso de inscripción está cuidadosamente diseñado para identificar a los candidatos que
      se beneficiarán al máximo de las oportunidades y recursos que ofrecemos. Cada año, buscamos estudiantes que
      compartan nuestro compromiso con la educación y el crecimiento personal, y que se adapten bien a nuestro entorno
      comunitario.</p>
  </div>
</section>

<!-- Requisitos para Aspirantes -->
<section class="container section-inscripcion  fade-in">
  <div class="section-content">
    <h2>¿Qué Necesito para Inscribirme?</h2>
    <h3>Requisitos para Nuevo Ingreso</h3>
    <p>Por favor, asegúrate de que todos los documentos estén bien escaneados y sean legibles, de lo contrario serán
      rechazados. A continuación, se detallan los documentos necesarios:</p>
    <ul>
      <li>Acta de nacimiento actualizada<a href="https://www.gob.mx/ActaNacimiento/" target="_blank">(Descárgalo
          aquí).</a></li>
      <li>CURP actualizada<a href="https://www.gob.mx/curp/" target="_blank">(Descárgalo aquí).</a> </li>
      <li>Certificado médico reciente.</li>
      <li>Última boleta de calificaciones.</li>
      <li>Cartilla de vacunación.</li>
      <li>Comprobante de inscripción.</li>
      <li>Constancia de identidad o escrito libre emitido por la autoridad.</li>
      <li>Documento de Inscripcion</li>
    </ul>
    <h3>Documentos de los Padres</h3>
    <ul>
      <li>CURP actualizada de los padres<a href="https://www.gob.mx/curp/" target="_blank">(Descárgalo aquí).</a> </li>
      <li>Comprobante de domicilio<a
          href="https://app.cfe.mx/Aplicaciones/CCFE/SolicitudesCFE/Solicitudes/ConsultaTuReciboLuzGmx"
          target="_blank">(Descargar recibo de luz).</a> </li>
      <li>Copia de la credencial de elector.</li>
      <li>Constancia del último grado de estudio del tutor.</li>
      <li>Anotar la cantidad de integrantes de la familia en una hoja o documento.</li>
    </ul>
  </div>
</section>

<!-- Sección de Convocatorias -->
<section class="container section-inscripcion fade-in">
  <div class="section-content">
    <h2>Convocatorias</h2>
    <app-calls (onSelect)="mostrarFormulario()"></app-calls>
  </div>
</section>

<!-- Sección del formulario, oculta si showFormulario es falso -->
<section *ngIf="showFormulario" class="container section-formulario fade-in">
  <div class="d-flex justify-content-center mt-4">
    <div class="form border border-3 mb-4 rounded shadow-sm col-8 d-flex justify-content-center">
      <div class="title">
        <h3>Formulario de registro</h3>
        <p>Por favor llena todos los campos para iniciar tu proceso de inscripción</p>
      </div>
      <div class="col-11 mt-4 form-child" app-registration-form></div>
    </div>
  </div>
</section>


<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<!-- Custom TypeScript -->