#pdf-content {
    margin: 0; /* No margen alrededor del contenedor */
    padding: 0; /* Sin relleno */
    width: 100%;
    height: auto;
    max-width: 210mm; /* Ancho de la página A4 */
    overflow: hidden; /* Evita el desbordamiento */
    page-break-after: always; /* Asegura que haya un salto de página después de cada sección */
    padding-bottom: 25mm; /* Espacio para el margen inferior del PDF */
 
}
.btn-custom {
    background-color: #b41e46; /* Usando el color del navbar */
    color: white;
    border: none;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-custom:hover {
    background-color: #a0183e; /* Un color más oscuro para el efecto hover */
    transform: scale(1.05); /* Efecto de agrandamiento suave */
}

.btn-custom:active {
    transform: scale(0.95); /* Efecto de click */
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px; /* Espacio alrededor del contenido */
    background-color: #ffffff;
}
.container {
    max-width: 210mm; /* Ancho de la página A4 */
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    border: 1px solid #000;
    padding: 5px;
    font-size: 12px;
    word-wrap: break-word; /* Para que el contenido largo se ajuste a las celdas */
}

.header {
    background-color: #610f23;
    color: white;
    text-align: center;
    padding: 10px;
}

.subheader {
    background-color: #d9d9d9;
    font-weight: bold;
    text-align: center;
}

.footer {
    padding: 10px;
    font-size: 13px;
    text-align: center;
}

.checkbox-label {
    display: inline-block;
    margin-right: 10px;
}

input[type="text"], input[type="date"], select {
    width: 100%; /* Ajusta los inputs al tamaño de la celda */
    padding: 2px;
    border: none;
    border-bottom: 1px solid #000;
    background-color: transparent;
}

h1, h2, h3 {
    margin: 5px 0;
}

.notice {
    font-size: 10px;
    text-align: center;
    margin-bottom: 10px;
    font-style: italic;
}

.logo {
    text-align: left;
    font-weight: bold;
    font-size: 12px;
    color: #ffffff;
}

.ceen {
    text-align: center;
}
