.btn-custom {
  font-size: 1.05rem;
  background-color: #b52249;
  color: white;
  border: none;
}

.btn-custom:hover {
  background-color: #911b31;
  color: white;
}

.btn-success {
  background-color: #28a745;
  color: white;
}

.btn-success:hover {
  background-color: #1a7f31;
  color: white;
}
