<!-- Enlace para abrir el modal -->
<p>
    Lee nuestro <a href="#" class="privacy-link" data-bs-toggle="modal" data-bs-target="#avisoModal">Aviso de Privacidad</a> para obtener más información.
</p>

<!-- Modal -->
<div class="modal fade" id="avisoModal" tabindex="-1" aria-labelledby="avisoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="avisoModalLabel">Aviso de Privacidad</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6><strong>AVISO DE PRIVACIDAD</strong></h6>
                <p>
                    Las Reglas Operación del Programa de Apoyo a la Educación Indígena publicadas en el Diario Oficial de la Federación (DOF) el XX de diciembre de 2023 en el numeral 10. Transparencia establecen que:
                </p>
                <p>
                    Los padrones de beneficiarios de este Programa serán públicos conforme a lo previsto y aplicable en la Ley General de Transparencia y Acceso a la Información Pública y en la Ley Federal de Transparencia y Acceso a la Información Pública, cumpliendo en todo momento los principios y derechos previstos en la Ley General de Protección de Datos Personales en Posesión de Sujetos Obligados.
                </p>
                <p>
                    Para la elaboración de los padrones o listados de beneficiarios el INPI, en lo posible, identificará por localidad, en apego a su Aviso de Privacidad, los siguientes datos personales: Clave Única de Registro de Población (CURP), Clave de Registro Federal de Contribuyentes (RFC), sexo, grupo de edad, comunidad y pueblo indígena al que pertenece, entidad federativa, municipio y ocupación territorial de la Ciudad de México.
                </p>
                <p>
                    Los beneficiarios podrán conocer el Aviso de Privacidad del Instituto en la sección de Transparencia del portal 
                    <a href="http://www.gob.mx/inpi" target="_blank">http://www.gob.mx/inpi</a>, y podrán ejercer sus derechos de acceso, rectificación, cancelación y oposición de sus datos personales (derechos ARCO) ante la Unidad de Transparencia del INPI, a través de la Plataforma Nacional de Transparencia en el siguiente hipervínculo:
                    <a href="https://www.plataformadetransparencia.org.mx" target="_blank">www.plataformadetransparencia.org.mx</a> o al correo electrónico 
                    <a href="mailto:anecelina@inpi.gob.mx">anecelina.gob.mx</a>, de conformidad con el procedimiento previsto en la Ley General de Protección de Datos Personales en Posesión de Sujetos Obligados.
                </p>
                <p>
                    Asimismo, los datos personales que entrega los beneficiarios al Programa se clasifican como confidenciales de conformidad con los artículos 113 fracción I y último párrafo; así como el 117 fracción IV, de la Ley Federal de Transparencia y Acceso a la Información Pública; 116 de la Ley General de Transparencia y Acceso a la Información Pública; 3, fracción IX, 16, 17 y 22, fracción II, de la Ley General de Protección de Datos Personales en Posesión de Sujetos Obligados; por lo tanto, las personas servidoras públicas y sujetos obligadas facultados para conocerlos, estamos obligados a (i) Asegurar la confidencialidad de los datos, (ii) Mantener su resguardo independientemente del medio en que se entregue, (iii) Asegurar el uso de la información exclusivamente para los fines para lo que fueron entregados.
                </p>
                <p>Por lo anterior debe observarse lo siguiente:</p>
                <ul>
                    <li>
                        Los datos personales solo podrán ser utilizados con la finalidad de realizar su registro, en el Sistema de Control del Programa de Apoyo a la Educación Indígena (SCAPEI), en el fondo, fotografías (excepto menores de edad y video, así como en la elaboración de memorias de imágenes, acervo documental, elaboración de informes y demás actividades relacionadas con las reglas de operación del PAEI.
                    </li>
                    <li>
                        Los datos personales también podrán ser utilizados en las actividades encaminadas a la difusión y promoción de las acciones que el PAEI lleve a cabo durante los eventos públicos.
                    </li>
                    <li>
                        Los asistentes a los cursos, talleres, capacitaciones, sesiones, eventos u otros de sus naturalezas análogas vinculados con el quehacer institucional del PAEI, que no expresen lo contrario, durante el transcurso de los mismos, aceptan tácitamente el tratamiento de sus datos personal antes descritos.
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
