/* Estilos para la Sección de Soporte */
.support-section {
    padding: 40px;
    background-color: #8b8b8b;
    text-align: center;
}

.support-items {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
h2 {
    margin: 0;
    font-size: 2em;
    color: rgb(255, 255, 255);
}

p1 {
    margin: 0;
    font-size: .9em;
    color: rgb(255, 255, 255);
}
b {
    margin: 0;

    color: rgb(253, 162, 42);
}
span {
    margin: 5px 0;
    font-size: .9em;
    color: #70e2ff; /
}
er {
    color: #000000; /
}
.support-item {
    width: 150px;
}

.support-item img {
    width: 50%;
    height: auto;
    align-items: center;
}

.support-item p {
    margin-top: 10px;
    font-weight: bold;
}

/* Estilos para Herramientas para Webmasters */
.webmaster-tools {
    padding: 40px;
    background-color: #ffffff;
    text-align: center;
}

.tool-items {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.tool-item {
    width: 200px;
    text-align: left;
}

.tool-item img {
    width: 30%;
    height: auto;
}

.tool-item h3 {
    margin-top: 10px;
    font-size: 1.2em;
}

.tool-item p {
    font-size: 0.9em;
}
