<div class="container-fluid px-0">

    <div class="row bg-dark h-100">
        <div class="col-12 px-0">
            <app-carrousel [items]="carouselData" [autoPlayInterval]="13000"></app-carrousel>
        </div>
    </div>



    <div class="title">
        <h2 class="title">Casa Comunitaria Felipe Carrillo Puerto</h2>
    </div>

    <div class="about-us py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <h3 class="text-primary">Sobre Nosotros</h3>
                    <p class="text-muted">
                        La Casa Comunitaria del Estudiante Indígena es un espacio dedicado al apoyo y fortalecimiento de
                        jóvenes de comunidades indígenas. Nuestra institución, en colaboración con el Instituto Nacional
                        de los Pueblos Indígenas (INPI), se compromete a proporcionar un entorno que promueva el
                        desarrollo educativo, cultural y social de nuestros residentes.
                    </p>
                    <a routerLink="/about-us" class="read-more">Leer más <i class="bi bi-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>


    <div class="activities py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <img src="./../../../assets/images/activitie.jpg" alt="Casa Comunitaria" class="img-fluid rounded">
                </div>
                <div class="col-md-6">
                    <h3 class="text-primary">Actividades</h3>
                    <p class="text-muted">
                        Ofrecemos una variedad de actividades diseñadas para todos los intereses. En nuestro
                        espacio, se han impartido clases de Maya, conferencias y actividades al aire libre, todas
                        pensadas para brindarte experiencias únicas.
                    </p>
                    <a routerLink="/activities" class="read-more">Leer más <i class="bi bi-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="registration py-5">
        <div class="container">
            <h3 class="text-primary">Inscripción</h3>
            <p class="text-muted">La Casa Comunitaria abre sus puertas
                anualmente para nuevas inscripciones. Cada año, buscamos estudiantes que compartan nuestro compromiso
                con la educación y el crecimiento personal, y que se adapten bien a nuestro entorno comunitario. Únete a
                nuestra comunidad y comienza tu viaje de crecimiento
                personal.</p>
            <a routerLink="/registration" class="read-more">Leer más <i class="bi bi-chevron-right"></i></a>
        </div>
    </div>
</div>