.title {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 4vw;
  font-weight: bold;
  color: #b41e46;
}

* {
  overflow: hidden;
}

.about-us,
.registration {
  background-color: #f8f8f8;
}

.text-primary {
  color: #b41e46 !important;
  font-weight: bold;
  font-size: 2rem;
}

.read-more {
  color: #b52e46;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.read-more i {
  display: inline-block;
  transition: transform 0.3s;
  vertical-align: middle;
  font-weight: 100;
  margin-bottom: 2px;
}

.read-more:hover {
  color: rgb(164, 13, 13);
}

.read-more i {
  display: inline-block;
  transition: transform 0.3s;
  font-size: 1.1rem;
}

.read-more:hover i {
  transform: translateX(5px);
}

.activities img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.text-muted {
  font-size: 1.1rem;
}

@media (min-width: 768px) {
  .title {
    font-size: 3vw;
  }
}

@media (min-width: 1200px) {
  .title {
    font-size: 2.5vw;
  }
}
