<div class="convocatorias-container">
  <div class="admin-header">
    <h2 class="admin-title">Historial de Convocatorias</h2>
  </div>

  <div class="convocatorias-list">
    <div class="table-wrapper">
      <table class="custom-table">
        <thead>
          <tr>
            <th>Título</th>
            <th>Estado</th>
            <th>Fecha de Inicio</th>
            <th>Fecha de Cierre</th>
            <th>Cupos </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let call of callsHistory" [ngClass]="{'row-open': call.status, 'row-closed': !call.status}">
            <td>{{ call.title }}</td>
            <td>
              <span [class.status-open]="call.status" [class.status-closed]="!call.status">
                {{ call.status ? 'Abierta' : 'Cerrada' }}
              </span>
            </td>
            <td>{{ formatDate(call.startDate) }}</td> <!-- Fecha formateada -->
            <td>{{ formatDate(call.endDate) }}</td>   <!-- Fecha formateada -->
            <td>{{ call.occupiedCupo + call.availableCupo  }}</td>
          
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>