<div class="container mt-5">
  <!-- Barra de progreso de ocupación de cupos -->
  <div class="progress-bar-container">
    <div class="progress-bar" [style.width.%]="calculateOccupiedPercentage(call?.occupiedCupo, call?.availableCupo)">
    </div>
  </div>

  <!-- Estadísticas de cupos -->
  <div class="cupos-stats">
    <div class="stat-item">
      <p class="stat-label">Cupos Disponibles</p>
      <p class="stat-value stat-available">{{ call?.availableCupo }}</p>
    </div>
    <div class="stat-item">
      <p class="stat-label">Cupos Ocupados</p>
      <p class="stat-value stat-occupied">{{ call?.occupiedCupo }}</p>
    </div>
  </div>

  <h3 class="text-center mb-3">Alumnos por inscribirse</h3>
  <div class="search-bar mb-3">
    <input type="text" class="form-control" placeholder="Buscar por nombre" (input)="onSearchInput($event)" />
  </div>

  <div class="table-responsive">
    <div *ngIf="!isLoading && filteredStudents.length === 0" class="text-center mt-3">
      <p>No hay estudiantes disponibles.</p>
    </div>
    <table class="table table-bordered table-striped text-center" *ngIf="filteredStudents.length > 0;">
      <thead class="table-header">
        <tr>
          <th>Nombre Completo:</th>
          <th>Correo Electrónico:</th>
          <th>Curp:</th>
          <th>Fecha Inscripcion:</th>
          <th>Hora:</th>
          <th>Estado:</th>
          <th>Documentos</th>
        </tr>
      </thead>
      <tbody>
        <!-- Ejemplo de filas, puedes reemplazarlo con *ngFor en tu proyecto -->
        <tr *ngFor="let estudiante of filteredStudents">
          <td>{{ estudiante.name }} {{ estudiante.lastName1 }} {{ estudiante.lastName2 }}</td>
          <td>{{ estudiante.email }}</td>
          <td>{{ estudiante.curp }}</td>
          <td>{{  formatDateMexican(estudiante.fecha)}}</td>
          <td>{{ estudiante.hora}}</td>
          <td> <span class="badge"
              [ngClass]="{'bg-success': estudiante.enrollmentStatus, 'bg-gold': !estudiante.enrollmentStatus}">
              {{ estudiante.enrollmentStatus ? 'Inscrito' : 'No inscrito' }}
            </span></td>
          <td> <app-btn-ver-documentos-adm [aspiranteId]="estudiante.aspiranteId"
              (click)="viewDocuments(estudiante.id!)" (openModalEvent)="openModal()"
              (aspiranteIdEvent)="onAspiranteIdReceived($event)">
            </app-btn-ver-documentos-adm></td>
        </tr>
      </tbody>
    </table>

    <app-gest-doc-students>
    </app-gest-doc-students>
  </div>

  <div *ngIf="isExpired && expired.length > 0" class="alert alert-warning mt-3 text-center rounded p-3">
    <strong>Atención:</strong> Los alumnos no inscritos serán eliminados en
    <strong class="text-danger">{{ expired[0].daysUntilDelete }}</strong> días.
  </div>

  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      <li class="page-item" (click)="changePage(currentPage - 1)" [class.disabled]="currentPage === 1">
        <span class="page-link"> &lt;&lt; </span>
      </li>
      <li class="page-item" *ngFor="let page of getPagesArray()" [class.active]="page === currentPage"
        (click)="changePage(page)">
        <span class="page-link">{{ currentPage }}</span>
      </li>
      <li class="page-item" (click)="changePage(currentPage + 1)"
        [class.disabled]="currentPage === totalPages || totalPages === 0">
        <span class="page-link"> &gt;&gt; </span>
      </li>
    </ul>
  </nav>
</div>