
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fondo oscuro transparente */
  z-index: 1000; /* Debajo del pop-up pero por encima del contenido */
}


/* Estilo del contenedor de login */
.login-container {
  position: fixed; /* Cambia a fixed para que flote sobre la página */
  top: 50%; /* Centrado vertical */
  left: 50%; /* Centrado horizontal */
  transform: translate(-50%, -50%); /* Ajusta el desplazamiento */
  z-index: 1001; /* Asegura que esté por encima del contenido */
  background-color: rgba(255, 255, 255, 0.95); /* Fondo blanco con algo de opacidad */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para darle efecto de profundidad */
  backdrop-filter: blur(5px); /* Desenfoque ligero */
  width: 27rem; /* Ancho del contenedor */
  max-width: 90%; /* Para que sea responsivo */
}

/* Estilo para el botón de regreso */
.back-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #b41e46; /* Color de fondo */
  border-radius: 25%; /* Hace el botón redondo */
  padding: 1px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-button i {
  color: white; /* Color del ícono */
  font-size: 2rem; /* Tamaño del ícono */
}

.back-button:hover {
  background-color:  #ec4967; /* Color al hacer hover */
  transition: background-color 0.3s ease;
}

/* Estilo para el botón de iniciar sesión */
.btn {
  background-color: #b41e46;
  transition: background-color 0.3s ease; /* Transición para el efecto hover */
}

.btn:hover {
  background-color: #ec4967; /* Color al hacer hover */
}

.text-danger {
  font-size: 0.875rem; /* Ajusta el tamaño de fuente */
  margin-top: 0.10rem; /* Espacio entre el input y el mensaje */
}

/* Aplica el mismo color del botón a los íconos de los inputs */
.icon-background {
  color: #b41e46; /* Mismo color que el botón */
  transition: color 0.3s ease; /* Añade una transición para suavizar el cambio de color */
}



/* Responsive para pantallas pequeñas */
@media (max-width: 768px) {
  .login-container {
    padding: 20px; /* Mantener el padding más compacto */
    margin: auto; /* Centramos horizontalmente */
  }

  .login-container img {
    height: 4rem;
  }
}
